.settingsPage {
    background-color: snow;
    width: 500px;
    padding: 20px;
}

.saved {
    color: turquoise;
    padding: 5px;
    border: solid turquoise 2px;
}

.settingsBlock {
    border: solid peachpuff 1px;
    padding: 20px;
    margin-bottom: 30px;
}

.preloader {
    height: 30px;
}

.error {
    color: red;
    padding: 5px;
    border: solid red 2px;
}